<!--HTML-->
<div id="new_oberheader_banner">
    <div class="scrolling-text">
        <img class="banner_imgs" src="{{ "bannerimgs.webp"  |  asset_url  }}" alt="Weihnachtsbild Vorne">
        Alle Bestellungen bis zum 18. Dezember werden rechtzeitig zu Weihnachten geliefert!!!
        <img class="banner_imgs" src="{{ "bannerimgs.webp"  | asset_url }}" alt="Weihnachtsbild Hinten" >
    </div>
</div>

<!--CSS-->
<style>
    #new_oberheader_banner {
        position: fixed;
        top: 0;
        width: 100%;
        background: #000;
        color: #fff;
        overflow: hidden;
        height: 34px;
        display: flex;
        align-items: center;
        z-index: 9999;
    }

    .scrolling-text {
        display: inline-block;
        white-space: nowrap;
        transform: translateX(100%);
        animation: marquee 20s linear infinite;
        padding-right: 100%;
    }
    .banner_imgs{
        height:20px;
        margin-left:10px;
        margin-right: 10px;
    }

    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
</style>
