<!--HTML-->
<div id="new_oberheader_banner">
    <div class="scrolling-text">
        <img class="banner_imgs" src="{{ section.settings.banner_imgs |  image_url  }}" alt="Weihnachtsbild Vorne">
        Alle Bestellungen bis zum 18. Dezember werden rechtzeitig zu Weihnachten geliefert !!!
        <img class="banner_imgs" src="{{ section.settings.banner_imgs | image_url  }}" alt="Weihnachtsbild Hinten" >
    </div>
</div>

<!--Schema-->
{% schema %}
{
    "name": "new_oberheader_banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "banner_imgs",
            "label": "Bilder"
        }
    ],
    "presets": [
        {
            "name": "new_oberheader_banner"
        }
    ]
}
{% endschema %}

<!--CSS-->
<style>
    :root{
        --bannerbackgroundcolor: #0e0e0e; 
    }
    #new_oberheader_banner {
        top: 0;
        width: 100%;
        background: var(--bannerbackgroundcolor);
        color: #fff;
        overflow: hidden;
        height: 30px;
        display: flex;
        align-items: center;
        z-index: 9999;
    }

    .scrolling-text {
        display: inline-block;
        white-space: nowrap;
        transform: translateX(80%);
        animation: marquee 21s linear infinite; /* Geschwindigkeit angepasst */
        padding-right: 0%;
    }
    .banner_imgs{
        height:17px;
        margin-left:10px;
        margin-right: 10px;
    }

    @keyframes marquee {
        0% {
            transform: translateX(80%);
        }
        100% {
            transform: translateX(-80%);
        }
    }
</style>
