<!--HTML-->
<div id="new_weihnachtsbanner">
    <div id="new_weihnachtsbanner">
        {% for block in section.blocks %}
            {% if block.type == "titelbanner" %}
                <h2>{{ block.settings.titeltext_for_banner }}</h2>
            {% elsif block.type == "textbanner" %}
                <p>{{ block.settings.texttext_for_banner }}</p>
            {% endif %}
        {% endfor %}
    </div>
    
</div>



<!--Schema-->
{% schema %}
{
    "name": "new_weihnachtsbanner",
    "settings": [
            {
                "type": "range",
                "id": "new_weihnachtsbanner_width",
                "label": "new Weihnachtsbanner width",
                "max": 100,
                "min": 50,
                "step": 2,
                "default": 65
            }
        ],
        "blocks": [
            {
                "name": "blocks",
                "type": "titelbanner",
                "settings": [
                    {
                        "type": "text",
                        "id": "titeltext_for_banner",
                        "label": "titeltext for Banner"
                    }
                ]
            },
            {
                "name": "blocks",
                "type": "textbanner",
                "settings": [
                    {
                        "type": "text",
                        "id": "texttext_for_banner",
                        "label": "texttext for Banner"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "new_weihnachtsbanner",
                "blocks": [
                    {
                        "type": "titelbanner"
                    },
                    {
                        "type": "textbanner"
                    }
                ]
            }
        ]
}
{% endschema %}



<!--CSS-->
<style>
    #new_weihnachtsbanner{
        display: flex;
        align-items: center;
        justify-content: center;

        width: {{ section.settings.new_weihnachtsbanner_width }}%;
        margin-left: auto;
        margin-right: auto;
    }



</style>