<!--HTML-->
<div id="new_info_banner">

</div>




<!--Schema-->
{% schema %}
    {
        "name": "new_info_banner",
        "settings": [
 
        ],
        "presets": [
            {
                "name": "new_info_banner"
            }
        ]
    }
    {% endschema %}
    



<!--CSS-->
<style>
    #new_info_banner{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 2rem;
        margin-left: auto;
        margin-right: auto;
    }



</style>