{% schema %}
{
    "name": "new.as",
    "settings": [
        
        ],
        "presets": [
            {
                "name": "as"
            }
        ]
}
{% endschema %}


<div id="as">

</div>