<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div id="DivNachOben">
        <span id="NachobenSpan" class="material-symbols-outlined">
            expand_less
            </span>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    </div>


  
{% schema %}
{
    "name": "ScrollTopDiv",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "ScrollTopDiv"
        }
    ]
}
{% endschema %}


{% style %}
    #DivNachOben {
  width: 3.3rem;
  height: 3.3rem;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 8rem;
  left: 4rem;
  background-color: var(--maincolor);
  border-radius: 100%;
  border: solid 1px white;
  z-index: 99;
  cursor: pointer;
}
#DivNachOben.active {
  display: flex;
}
#NachobenSpan {
  font-size: 3.8rem;
  color: white;
}
@media (max-width: 950px) {
  #DivNachOben {
    width: 3.2rem;
    height: 3.2rem;
    bottom: 4rem;
    left: 1.6rem;
  }
  #NachobenSpan {
    font-size: 4.5rem;
  }
}

{% endstyle %}


 <!--script für den nachoben button -->
 <script>
    const DivNachOben = document.getElementById("DivNachOben");

    window.addEventListener("scroll", () =>{
        console.log(window.scrollY);

        if(window.scrollY >= 1100){
            DivNachOben.classList.add("active");
        }else{
            DivNachOben.classList.remove("active");
        }
    })

    /*script das alles nach oben geht mit einem click*/ 
    const NachobenSpan= document.getElementById("NachobenSpan");

    NachobenSpan.addEventListener("click", () =>{
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        })
    })
  
</script>